Attachment Mover/Power Apps Workflow/AzureBlobStorageFiles_1_0_0_7_UnManaged/Workflows/MovingFilesFromAzureToDynamics-B10E7FE3-E75B-EC11-8F8F-000D3AF2E5D6.json
{"properties":{"connectionReferences":{"shared_azureblob":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"new_sharedazureblob_b53b2"},"api":{"name":"shared_azureblob"}},"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"new_sharedcommondataserviceforapps_79117"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"},"AzureCotainer (new_AzureCotainer)":{"defaultValue":"files","type":"String","metadata":{"schemaName":"new_AzureCotainer","description":"Azure Container Name if it is created new to get list of blobs and content"}}},"triggers":{"manual":{"metadata":{"operationMetadataId":"01ab34a3-cf76-4060-8e5e-6425cedbce14"},"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"List_of_blobs_from_azure_container_":{"runAfter":{},"metadata":{"operationMetadataId":"9615767e-04be-4f63-ba45-4240cba8260b"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_azureblob","operationId":"ListFolder_V4","apiId":"/providers/Microsoft.PowerApps/apis/shared_azureblob"},"parameters":{"dataset":"azurefunstoraged365","id":"/@{parameters('AzureCotainer (new_AzureCotainer)')}","nextPageMarker":"","useFlatListing":false},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Getting_Json_FileName":{"runAfter":{"List_of_blobs_from_azure_container_":["Succeeded"]},"metadata":{"operationMetadataId":"8df9d39d-794d-48c1-a475-db08b5216a34"},"type":"InitializeVariable","inputs":{"variables":[{"name":"jsonFileName","type":"string"}]}},"Looping_through_all_the_files_from_azure_container_to_get_json_file":{"foreach":"@outputs('List_of_blobs_from_azure_container_')?['body/value']","actions":{"Set_JsonFileName":{"runAfter":{},"metadata":{"operationMetadataId":"7e0b9fdf-6df8-491b-89a4-4ba9338d4ddc"},"type":"SetVariable","inputs":{"name":"jsonFileName","value":"@items('Looping_through_all_the_files_from_azure_container_to_get_json_file')?['Name']"}},"Condition_to_check_if_file_is_json":{"actions":{"Get_blob_content_(Json_File_Content)":{"runAfter":{},"metadata":{"operationMetadataId":"df83a87c-a228-433d-a785-02790443ea95"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_azureblob","operationId":"GetFileContent_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_azureblob"},"parameters":{"dataset":"azurefunstoraged365","id":"/@{parameters('AzureCotainer (new_AzureCotainer)')}/@{variables('jsonFileName')}","inferContentType":true},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Converting_Bytes_of_Json_File_to_Json_Object":{"runAfter":{"Get_blob_content_(Json_File_Content)":["Succeeded"]},"metadata":{"operationMetadataId":"ea0f1dbb-6f97-4b00-9223-65f36192c069"},"type":"Compose","inputs":"@json(outputs('Get_blob_content_(Json_File_Content)')?['body'])"},"Set_Json_File_Content":{"runAfter":{"Converting_Bytes_of_Json_File_to_Json_Object":["Succeeded"]},"metadata":{"operationMetadataId":"bc015b42-b8c6-4414-96b4-0b382f59fa38"},"type":"SetVariable","inputs":{"name":"jsonFileContent","value":"@outputs('Converting_Bytes_of_Json_File_to_Json_Object')"}},"Parse_JSON_File_Content":{"runAfter":{"Set_Json_File_Content":["Succeeded"]},"metadata":{"operationMetadataId":"57fdc237-e0ab-423b-872e-05f85c1648ef"},"type":"ParseJson","inputs":{"content":"@variables('jsonFileContent')","schema":{"type":"array","items":{"type":"object","properties":{"logicalname":{"type":"string"},"entityguid":{"type":"string"},"filename":{"type":"string"},"isannotation":{"type":"boolean"},"filefieldname":{"type":"string"}},"required":["logicalname","entityguid","filename","isannotation","filefieldname"]}}}},"Parsing_Json_File_Content_":{"foreach":"@body('Parse_JSON_File_Content')","actions":{"Set_Is_Annotation":{"runAfter":{},"metadata":{"operationMetadataId":"a68cfb9b-762b-4c72-aee0-6306a3e467c6"},"type":"SetVariable","inputs":{"name":"isAnnotation","value":"@{items('Parsing_Json_File_Content_')['isannotation']}"}},"Condition":{"actions":{"Set_Document_MediaType":{"runAfter":{"Set_RegardingObjectID":["Succeeded"]},"metadata":{"operationMetadataId":"c032a817-b8ae-4cfd-bde5-c219f5909684"},"type":"SetVariable","inputs":{"name":"documentMediaType","value":"@items('Looping_through_all_the_files_from_azure_container_to_get_json_file')?['MediaType']"}},"Set_RegardingObjectID":{"runAfter":{},"metadata":{"operationMetadataId":"a1f7bc4b-36a9-4e52-8c57-b467fffee105"},"type":"SetVariable","inputs":{"name":"regardingObjectID","value":"@{variables('entitylogicalName')}(@{variables('entityRecordGuid')})"}},"Try":{"actions":{"Add_an_attachment_to_specific_record_of_the_entity_":{"runAfter":{},"metadata":{"operationMetadataId":"720bf551-3e30-4971-b46f-195509ac5ea0"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"annotations","item/subject":"Azure Blob Attachment","item/isdocument":true,"item/documentbody":"@base64(variables('document'))","item/filename":"@variables('blobFileName')","item/objectid_account@odata.bind":"@if(equals(variables('entitylogicalName'),'accounts'),variables('regardingObjectID'),'')","item/objectid_contact@odata.bind":"@if(equals(variables('entitylogicalName'),'contacts'),variables('regardingObjectID'),'')","item/objectid_contract@odata.bind":"@if(equals(variables('entitylogicalName'),'contracts'),variables('regardingObjectID'),'')","item/objectid_lead@odata.bind":"@if(equals(variables('entitylogicalName'),'leads'),variables('regardingObjectID'),'')","item/objectid_opportunity@odata.bind":"@if(equals(variables('entitylogicalName'),'opportunities'),variables('regardingObjectID'),'')","item/objectid_task@odata.bind":"@if(equals(variables('entitylogicalName'),'tasks'),variables('regardingObjectID'),'')"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Set_Document_MediaType":["Failed"]},"metadata":{"operationMetadataId":"1f2602ec-36bd-4eb0-9db9-01ba6e3380fe"},"type":"Scope"},"Catch":{"actions":{},"runAfter":{"Try":["Succeeded"]},"metadata":{"operationMetadataId":"5f6686c0-ce0c-40f2-b40f-910d82f0a6ee"},"type":"Scope"}},"runAfter":{"Set_Document_":["Succeeded"]},"else":{"actions":{"Compose":{"runAfter":{},"metadata":{"operationMetadataId":"4b4b3243-4c89-45a7-97c3-1ef89d6108ed"},"type":"Compose","inputs":"@base64(outputs('Get_blob_content_using_path_(V2)')?['body'])"},"Set_FileFieldName":{"runAfter":{"Compose":["Succeeded"]},"metadata":{"operationMetadataId":"0b229c87-536f-46c6-81d0-cb6df89f1abd"},"type":"SetVariable","inputs":{"name":"fieldName","value":"@items('Parsing_Json_File_Content_')['filefieldname']"}},"Try_(_FileFieldName_to_update)":{"actions":{"Update_a_row":{"runAfter":{},"metadata":{"operationMetadataId":"54fde090-4c84-480b-a2d4-3dfbaeb1c942"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"@variables('entitylogicalName')","recordId":"@variables('entityRecordGuid')","item":{"@{variables('fieldName')}":"@{outputs('Compose')}"}},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Set_FileFieldName":["Failed"]},"metadata":{"operationMetadataId":"36be86d8-3ce4-4659-a27b-6689a7839edb"},"type":"Scope"},"Catch_(Exception)":{"actions":{},"runAfter":{"Try_(_FileFieldName_to_update)":["Succeeded"]},"metadata":{"operationMetadataId":"52fc3950-e07f-4466-9236-af36612e1ec2"},"type":"Scope"}}},"expression":{"equals":["@variables('isAnnotation')","True"]},"metadata":{"operationMetadataId":"5787d6e7-611e-4ba8-86e1-7eded6f8dd2f"},"type":"If"},"Set_BlobFileName":{"runAfter":{"Set_Is_Annotation":["Succeeded"]},"metadata":{"operationMetadataId":"db147b68-fcb6-4187-9d62-9ae408f8d748"},"type":"SetVariable","inputs":{"name":"blobFileName","value":"@items('Parsing_Json_File_Content_')['filename']"}},"Set_Entity_LogicalName":{"runAfter":{"Set_BlobFileName":["Succeeded"]},"metadata":{"operationMetadataId":"3a52ec5b-b517-4d93-b8d4-f17773fb5679"},"type":"SetVariable","inputs":{"name":"entitylogicalName","value":"@items('Parsing_Json_File_Content_')['logicalname']"}},"Set_Entity_Record_Guid":{"runAfter":{"Set_Entity_LogicalName":["Succeeded"]},"metadata":{"operationMetadataId":"2f9bbe2e-2fe4-4146-80e8-3bb2df8a7024"},"type":"SetVariable","inputs":{"name":"entityRecordGuid","value":"@items('Parsing_Json_File_Content_')['entityguid']"}},"Get_blob_content_using_path_(V2)":{"runAfter":{"Set_Entity_Record_Guid":["Succeeded"]},"metadata":{"operationMetadataId":"f11015bf-ca99-4307-b46d-778d138a5cec"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_azureblob","operationId":"GetFileContentByPath_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_azureblob"},"parameters":{"dataset":"azurefunstoraged365","path":"/@{parameters('AzureCotainer (new_AzureCotainer)')}/@{items('Parsing_Json_File_Content_')['filename']}","inferContentType":true},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Set_Document_":{"runAfter":{"Get_blob_content_using_path_(V2)":["Succeeded"]},"metadata":{"operationMetadataId":"318ba118-6c06-4de9-bea8-cc1fbae8247d"},"type":"SetVariable","inputs":{"name":"document","value":"@{body('Get_blob_content_using_path_(V2)')}"}}},"runAfter":{"Parse_JSON_File_Content":["Succeeded"]},"metadata":{"operationMetadataId":"7ed003b8-42db-4f72-a642-ab854c21d961"},"type":"Foreach"}},"runAfter":{"Set_JsonFileName":["Succeeded"]},"expression":{"endsWith":["@variables('jsonFileName')",".json"]},"metadata":{"operationMetadataId":"e8340d2d-20e5-4dac-af36-0b96629cea4e"},"type":"If"}},"runAfter":{"Field_Name":["Succeeded"]},"metadata":{"operationMetadataId":"e38cb219-771e-41bf-8cd4-b36c6aaa5f5a"},"type":"Foreach"},"Json_File_Content":{"runAfter":{"Getting_Json_FileName":["Succeeded"]},"metadata":{"operationMetadataId":"030b9e18-0f4e-453f-aeff-37a89c0bcd34"},"type":"InitializeVariable","inputs":{"variables":[{"name":"jsonFileContent","type":"array"}]}},"Entity_LogicalName":{"runAfter":{"Json_File_Content":["Succeeded"]},"metadata":{"operationMetadataId":"1c7573b5-20a9-47f4-820e-94ba4104c831"},"type":"InitializeVariable","inputs":{"variables":[{"name":"entitylogicalName","type":"string"}]}},"Entity_Record_Guid":{"runAfter":{"Entity_LogicalName":["Succeeded"]},"metadata":{"operationMetadataId":"24bdc17d-68de-4a72-909f-a864f16dc87f"},"type":"InitializeVariable","inputs":{"variables":[{"name":"entityRecordGuid","type":"string"}]}},"Is_Annotation":{"runAfter":{"Entity_Record_Guid":["Succeeded"]},"metadata":{"operationMetadataId":"8b8eb42a-fd3f-4a7f-b4d4-5227dbd9b80b"},"type":"InitializeVariable","inputs":{"variables":[{"name":"isAnnotation","type":"string"}]}},"Blob_FileName":{"runAfter":{"Is_Annotation":["Succeeded"]},"metadata":{"operationMetadataId":"fd03ec53-416f-444c-8f5e-235e2a8a1daf"},"type":"InitializeVariable","inputs":{"variables":[{"name":"blobFileName","type":"string"}]}},"Document":{"runAfter":{"Blob_FileName":["Succeeded"]},"metadata":{"operationMetadataId":"f87ac1e3-150a-4a82-88dc-b662784a70e6"},"type":"InitializeVariable","inputs":{"variables":[{"name":"document","type":"string"}]}},"Document_MediaType":{"runAfter":{"Document":["Succeeded"]},"metadata":{"operationMetadataId":"7e1b637a-bee2-4e60-9d6d-9fe9ed1b980e"},"type":"InitializeVariable","inputs":{"variables":[{"name":"documentMediaType","type":"string"}]}},"RegardingObjectID":{"runAfter":{"Document_MediaType":["Succeeded"]},"metadata":{"operationMetadataId":"b7c2caa2-f75d-42a8-80c0-d9a09c25905e"},"type":"InitializeVariable","inputs":{"variables":[{"name":"regardingObjectID","type":"string"}]}},"Field_Name":{"runAfter":{"RegardingObjectID":["Succeeded"]},"metadata":{"operationMetadataId":"82ebd5e4-60df-4294-93e5-41590140b132"},"type":"InitializeVariable","inputs":{"variables":[{"name":"fieldName","type":"string"}]}}}}},"schemaVersion":"1.0.0.0"}