Attachment Mover/Power Apps Workflow/AzureBlobStorageFiles_1_0_0_7_UnManaged/Workflows/RecurranceFlowStagingEntity-9A439995-855D-EC11-8F8F-000D3AF2E5D6.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"new_sharedcommondataserviceforapps_79117"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"99ddfc3f-78ad-4f67-90c9-d7a67f9c8886"},"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"List_of_metadata_records_from_Documents_Attachment":{"runAfter":{},"metadata":{"operationMetadataId":"9e172de5-33cd-4f62-ae1e-ad6ea8680976"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"doc_stagings","$filter":"doc_entityname ne ' ' and doc_recordguid ne ' '"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"DocumentsAttachment_Record_Unique_ID_(staging_id)":{"runAfter":{"List_of_metadata_records_from_Documents_Attachment":["Succeeded"]},"metadata":{"operationMetadataId":"61380686-47c7-4993-ac5a-f20346dcb84e"},"type":"InitializeVariable","inputs":{"variables":[{"name":"stagingID","type":"string"}]}},"Looping_list_of_all_documents_":{"foreach":"@outputs('List_of_metadata_records_from_Documents_Attachment')?['body/value']","actions":{"Set_Staging_ID":{"runAfter":{},"metadata":{"operationMetadataId":"3933e988-6b18-4f37-a53e-644231d87b59"},"type":"SetVariable","inputs":{"name":"stagingID","value":"@items('Looping_list_of_all_documents_')?['doc_stagingid']"}},"List_of_Notes_":{"runAfter":{"Set_Is_Annoation":["Succeeded"]},"metadata":{"operationMetadataId":"7a84936e-ade7-4b37-9c14-1af552d313fb"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"annotations","$select":"documentbody,filename,mimetype,annotationid","$filter":"_objectid_value eq '@{variables('stagingID')}'  and isdocument eq true"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Set_Entity_Logical_Name":{"runAfter":{"Set_Staging_ID":["Succeeded"]},"metadata":{"operationMetadataId":"ded7ffd0-cc76-449b-9187-7e9024c02ed8"},"type":"SetVariable","inputs":{"name":"entityLogicalName","value":"@items('Looping_list_of_all_documents_')?['doc_entityname']"}},"Set_Entity_Record_Guid":{"runAfter":{"Set_Entity_Logical_Name":["Succeeded"]},"metadata":{"operationMetadataId":"d1f01aee-67e4-4b28-821c-30f8b1ed5e4e"},"type":"SetVariable","inputs":{"name":"entityRecordGuid","value":"@items('Looping_list_of_all_documents_')?['doc_recordguid']"}},"Set_RegardingObjectID":{"runAfter":{"Set_Entity_Record_Guid":["Succeeded"]},"metadata":{"operationMetadataId":"842d5ab1-712c-4196-a232-56b587982cf5"},"type":"SetVariable","inputs":{"name":"regardingObjectID","value":"@{variables('entityLogicalName')}(@{variables('entityRecordGuid')})"}},"Set_Is_Annoation":{"runAfter":{"Set_RegardingObjectID":["Succeeded"]},"metadata":{"operationMetadataId":"e948f720-ce56-49d6-92aa-5d0482001ece"},"type":"SetVariable","inputs":{"name":"isAnnotation","value":"@items('Looping_list_of_all_documents_')?['new_isannotation']"}},"Condition_To_Check_If_Is_Annotation_is_True_Or_False":{"actions":{"Looping_through_all_the_notes_to_add_a_row_":{"foreach":"@outputs('List_of_Notes_')?['body/value']","actions":{"Add_a_new_row_to_Notes_":{"runAfter":{},"metadata":{"operationMetadataId":"503cf67a-9b22-4c72-9151-bb8515afa4d1"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"annotations","item/subject":"Staging Attachment","item/isdocument":true,"item/documentbody":"@items('Looping_through_all_the_notes_to_add_a_row_')?['documentbody']","item/filename":"@items('Looping_through_all_the_notes_to_add_a_row_')?['filename']","item/mimetype":"@items('Looping_through_all_the_notes_to_add_a_row_')?['mimetype']","item/objectid_account@odata.bind":"@if(equals(variables('entityLogicalName'),'accounts'),variables('regardingObjectID'),'')","item/objectid_contact@odata.bind":"@if(equals(variables('entityLogicalName'),'contacts'),variables('regardingObjectID'),'')"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Delete_Notes_Row_Once_Added":{"runAfter":{"Set_Notes_Guid":["Succeeded"]},"metadata":{"operationMetadataId":"6dc5ef7b-c080-46b4-8065-1ec44f88f239"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"DeleteRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"annotations","recordId":"@variables('notesGuid')"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Set_Notes_Guid":{"runAfter":{"Add_a_new_row_to_Notes_":["Succeeded"]},"metadata":{"operationMetadataId":"42d2ab32-a510-4419-a702-007ebc966693"},"type":"SetVariable","inputs":{"name":"notesGuid","value":"@items('Looping_through_all_the_notes_to_add_a_row_')?['annotationid']"}}},"runAfter":{},"metadata":{"operationMetadataId":"488b0eb9-864a-4680-a5e8-823031968b0d"},"type":"Foreach"}},"runAfter":{"List_of_Notes_":["Succeeded"]},"else":{"actions":{"Looping_through_all_the_notes_to_update_a_row_":{"foreach":"@outputs('List_of_Notes_')?['body/value']","actions":{"Set_File_Content":{"runAfter":{},"metadata":{"operationMetadataId":"ca854e1e-b8bd-45c8-b8fe-5abd4462f445"},"type":"SetVariable","inputs":{"name":"fileContent","value":"@items('Looping_through_all_the_notes_to_update_a_row_')?['documentbody']"}},"Compose":{"runAfter":{"Set_File_FieldName":["Succeeded"]},"metadata":{"operationMetadataId":"71815fb9-0134-469c-89be-1092dfc3c07c"},"type":"Compose","inputs":"@base64(variables('fileContent'))"},"Update_a_row_in_the_entity_":{"runAfter":{"Compose":["Succeeded"]},"metadata":{"operationMetadataId":"c561207e-8146-4684-8c9f-2c15c0ae8e98"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"@variables('entityLogicalName')","recordId":"@variables('entityRecordGuid')","item":{"@{variables('fileFieldName')}":"@{outputs('Compose')}"}},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Set_File_FieldName":{"runAfter":{"Set_File_Content":["Succeeded"]},"metadata":{"operationMetadataId":"d2ec9565-ed46-44bd-a264-176ae4dc848d"},"type":"SetVariable","inputs":{"name":"fileFieldName","value":"@items('Looping_list_of_all_documents_')?['new_filefieldname']"}},"Delete_a_row__of_notes":{"runAfter":{"Set_Note_Guid":["Succeeded"]},"metadata":{"operationMetadataId":"02cd76c5-793a-4c96-b531-584464ac0966"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"DeleteRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"annotations","recordId":"@variables('notesGuid')"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Set_Note_Guid":{"runAfter":{"Update_a_row_in_the_entity_":["Succeeded"]},"metadata":{"operationMetadataId":"0846afdc-a140-47a3-8288-02ceec8a25fe"},"type":"SetVariable","inputs":{"name":"notesGuid","value":"@items('Looping_through_all_the_notes_to_update_a_row_')?['annotationid']"}}},"runAfter":{},"metadata":{"operationMetadataId":"6d6e5836-8c36-4437-961d-b7a1c77457fe"},"type":"Foreach"}}},"expression":{"equals":["@variables('isAnnotation')","True"]},"metadata":{"operationMetadataId":"b543564c-d2d1-4f8f-9919-105d1f271032"},"type":"If"}},"runAfter":{"FileFieldName_(Field_From_Entity)":["Succeeded"]},"metadata":{"operationMetadataId":"f26b9725-21c0-4a67-bf41-565eeb25df85"},"type":"Foreach"},"Entity_Logical_Name":{"runAfter":{"DocumentsAttachment_Record_Unique_ID_(staging_id)":["Succeeded"]},"metadata":{"operationMetadataId":"cb37ae34-27aa-4fe1-9750-72f8f735caae"},"type":"InitializeVariable","inputs":{"variables":[{"name":"entityLogicalName","type":"string"}]}},"Entity_Record_Guid":{"runAfter":{"Entity_Logical_Name":["Succeeded"]},"metadata":{"operationMetadataId":"f37c98aa-d3b8-4822-bc74-93cf2bbdcf9a"},"type":"InitializeVariable","inputs":{"variables":[{"name":"entityRecordGuid","type":"string"}]}},"Regarding_ObjectID":{"runAfter":{"Entity_Record_Guid":["Succeeded"]},"metadata":{"operationMetadataId":"acda9832-6c08-40be-a218-4c369477e638"},"type":"InitializeVariable","inputs":{"variables":[{"name":"regardingObjectID","type":"string"}]}},"Is_Annotation":{"runAfter":{"Regarding_ObjectID":["Succeeded"]},"metadata":{"operationMetadataId":"5316a920-af21-4a13-a327-c3a49d1c664d"},"type":"InitializeVariable","inputs":{"variables":[{"name":"isAnnotation","type":"string"}]}},"File_Content":{"runAfter":{"Is_Annotation":["Succeeded"]},"metadata":{"operationMetadataId":"9c3055c2-0b9a-4390-acdc-25f4b2c6b679"},"type":"InitializeVariable","inputs":{"variables":[{"name":"fileContent","type":"string"}]}},"Notes_Guid_(Annotation_UniqueID)":{"runAfter":{"File_Content":["Succeeded"]},"metadata":{"operationMetadataId":"fa03443f-1eda-47b6-aa43-cb551c8d21ac"},"type":"InitializeVariable","inputs":{"variables":[{"name":"notesGuid","type":"string"}]}},"FileFieldName_(Field_From_Entity)":{"runAfter":{"Notes_Guid_(Annotation_UniqueID)":["Succeeded"]},"metadata":{"operationMetadataId":"fe07514e-391c-4528-8640-bc9fe93e84d6"},"type":"InitializeVariable","inputs":{"variables":[{"name":"fileFieldName","type":"string"}]}}}}},"schemaVersion":"1.0.0.0"}