Attachment Mover/Power Apps Workflow/AzureBlobStorageFiles_1_0_0_7_managed/Workflows/MovingFilesFromSharepointtoDynamics-0E148BBA-C35C-EC11-8F8F-000D3AF2E5D6.json
{"properties":{"connectionReferences":{"shared_sharepointonline":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"new_sharedsharepointonline_12f7a"},"api":{"name":"shared_sharepointonline"}},"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"new_sharedcommondataserviceforapps_79117"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"},"SharePointSiteUrl (new_SharePointSiteUrl)":{"defaultValue":"https://dynamicsitsolutions.sharepoint.com/sites/LocalFolderFiles","type":"String","metadata":{"schemaName":"new_SharePointSiteUrl","description":"Sharepoint site url "}}},"triggers":{"manual":{"metadata":{"operationMetadataId":"331c5e97-490d-42d9-bd2a-c51e78379e2f"},"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"Get_files_(properties_only)_from_SharePoint_Documents_Folder":{"runAfter":{},"metadata":{"operationMetadataId":"1af3cf03-0410-452a-a06c-f9ddfb85994c"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"GetFileItems","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('SharePointSiteUrl (new_SharePointSiteUrl)')","table":"0eb8b799-9538-4eae-a345-7410ac4e7d8c"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Json_File":{"runAfter":{"Get_files_(properties_only)_from_SharePoint_Documents_Folder":["Succeeded"]},"metadata":{"operationMetadataId":"74a9e49a-69b4-4bb4-a6b6-5a746cec2fc7"},"type":"InitializeVariable","inputs":{"variables":[{"name":"jsonFile","type":"string"}]}},"Looping_all_files_from_Sharepoint_Documents_folder_to_get_json_file_":{"foreach":"@outputs('Get_files_(properties_only)_from_SharePoint_Documents_Folder')?['body/value']","actions":{"Set_Json_File":{"runAfter":{},"metadata":{"operationMetadataId":"dd79852d-bb57-435b-beb8-930eb12e40a7"},"type":"SetVariable","inputs":{"name":"jsonFile","value":"@items('Looping_all_files_from_Sharepoint_Documents_folder_to_get_json_file_')?['{FilenameWithExtension}']"}},"Condition_to_check_if_the_file_is_json_":{"actions":{"Set_Json_content":{"runAfter":{"Get_file_content_using_path":["Succeeded"]},"metadata":{"operationMetadataId":"dc7b6ba6-c509-4324-8722-a152caf80c8c"},"type":"SetVariable","inputs":{"name":"jsonContent","value":"@{json(outputs('Get_file_content_using_path')?['body'])}"}},"Get_file_content_using_path":{"runAfter":{},"metadata":{"operationMetadataId":"78cb9248-db64-4fd7-9887-1ddbf45e5d37"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"GetFileContentByPath","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('SharePointSiteUrl (new_SharePointSiteUrl)')","path":"/Shared Documents/@{variables('jsonFile')}","inferContentType":false},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Parsing_JSON_Content":{"runAfter":{"Set_Json_content":["Succeeded"]},"metadata":{"operationMetadataId":"7c003bdf-0b15-4ca9-b5fc-d40c23c2a465"},"type":"ParseJson","inputs":{"content":"@variables('jsonContent')","schema":{"type":"array","items":{"type":"object","properties":{"logicalname":{"type":"string"},"entityguid":{"type":"string"},"filename":{"type":"string"},"isannotation":{"type":"boolean"},"filefieldname":{"type":"string"}},"required":["logicalname","entityguid","filename","isannotation","filefieldname"]}}}},"Looping_Json_Content_to_upload_Documents_to_dynamics":{"foreach":"@body('Parsing_JSON_Content')","actions":{"Set_Document_Name":{"runAfter":{},"metadata":{"operationMetadataId":"ce99df9e-8382-4f36-8359-44c48113373c"},"type":"SetVariable","inputs":{"name":"documentName","value":"@items('Looping_Json_Content_to_upload_Documents_to_dynamics')['filename']"}},"Set_Entity_Record_Guid":{"runAfter":{"Set_Entity_Logical_Name":["Succeeded"]},"metadata":{"operationMetadataId":"98d1f097-1edb-426d-aae0-cb7e1c07a273"},"type":"SetVariable","inputs":{"name":"entityRecordGuid","value":"@items('Looping_Json_Content_to_upload_Documents_to_dynamics')['entityguid']"}},"Set_Entity_Logical_Name":{"runAfter":{"Set_Document_Name":["Succeeded"]},"metadata":{"operationMetadataId":"042c6126-1848-4bd8-9b4f-fe350bd8eac4"},"type":"SetVariable","inputs":{"name":"entityLogicalName","value":"@items('Looping_Json_Content_to_upload_Documents_to_dynamics')['logicalname']"}},"Set_IsAnnotation":{"runAfter":{"Set_Entity_Record_Guid":["Succeeded"]},"metadata":{"operationMetadataId":"6654b4f1-2191-4ccb-aeb2-cdf9e64b1538"},"type":"SetVariable","inputs":{"name":"isAnnotation","value":"@{items('Looping_Json_Content_to_upload_Documents_to_dynamics')['isannotation']}"}},"Condition_to_check_isAnnotation_":{"actions":{"Set_RegardingObjectID":{"runAfter":{},"metadata":{"operationMetadataId":"8476d01c-6041-4b2c-892e-bb2b90cd984b"},"type":"SetVariable","inputs":{"name":"regardingObjectID","value":"@{variables('entityLogicalName')}(@{variables('entityRecordGuid')})"}},"Add_a_new_row":{"runAfter":{"Set_RegardingObjectID":["Succeeded"]},"metadata":{"operationMetadataId":"6f4bc71f-8472-482f-b9b5-7aa89ac289e1"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"annotations","item/subject":"SharePoint Attachment","item/isdocument":true,"item/documentbody":"@variables('documentContent')","item/filename":"@variables('documentName')","item/objectid_account@odata.bind":"@if(equals(variables('entityLogicalName'),'accounts'),variables('regardingObjectID'),'')","item/objectid_incident@odata.bind":"@if(equals(variables('entityLogicalName'),'cases'),variables('regardingObjectID'),'')","item/objectid_contact@odata.bind":"@if(equals(variables('entityLogicalName'),'contacts'),variables('regardingObjectID'),'')","item/objectid_contract@odata.bind":"@if(equals(variables('entityLogicalName'),'contracts'),variables('regardingObjectID'),'')","item/objectid_lead@odata.bind":"@if(equals(variables('entityLogicalName'),'leads'),variables('regardingObjectID'),'')"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Set_Document_Content":["Succeeded"]},"else":{"actions":{"Set_FieldName":{"runAfter":{},"metadata":{"operationMetadataId":"7d016e93-9999-4f12-9c66-ccf057a8987c"},"type":"SetVariable","inputs":{"name":"fieldName","value":"@items('Looping_Json_Content_to_upload_Documents_to_dynamics')['filefieldname']"}},"Update_a_row":{"runAfter":{"Set_FieldName":["Succeeded"]},"metadata":{"operationMetadataId":"046541fd-b5f8-4ac5-8d62-b8be952e2c3b"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"@variables('entityLogicalName')","recordId":"@variables('entityRecordGuid')","item":{"@{variables('fieldName')}":"@{variables('documentContent')}"}},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}}},"expression":{"equals":["@variables('isAnnotation')","True"]},"metadata":{"operationMetadataId":"61b78c69-6625-4132-9e52-d44c61f7fa7f"},"type":"If"},"Set_Document_Content":{"runAfter":{"Get_file_content_using_path_of_the_sharepoint_document":["Succeeded"]},"metadata":{"operationMetadataId":"e395226c-f836-4255-b401-7166b38358a8"},"type":"SetVariable","inputs":{"name":"documentContent","value":"@{base64(outputs('Get_file_content_using_path_of_the_sharepoint_document')?['body'])}"}},"Get_file_content_using_path_of_the_sharepoint_document":{"runAfter":{"Set_IsAnnotation":["Succeeded"]},"metadata":{"operationMetadataId":"84157eaf-cd7c-4fb2-890b-788bced9e136"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"GetFileContentByPath","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('SharePointSiteUrl (new_SharePointSiteUrl)')","path":"/Shared Documents/@{variables('documentName')}","inferContentType":true},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Parsing_JSON_Content":["Succeeded"]},"metadata":{"operationMetadataId":"9f9c30dd-e715-44bf-84ef-4007a879901b"},"type":"Foreach"}},"runAfter":{"Set_Json_File":["Succeeded"]},"expression":{"endsWith":["@variables('jsonFile')",".json"]},"metadata":{"operationMetadataId":"4573321c-7376-443a-b32e-31fa105d0361"},"type":"If"}},"runAfter":{"Field_Name":["Succeeded"]},"metadata":{"operationMetadataId":"acf702f2-8bdb-4104-b725-068bcf7460cc"},"type":"Foreach"},"Json_Content":{"runAfter":{"Json_File":["Succeeded"]},"metadata":{"operationMetadataId":"5f5feddf-aed8-40b9-a599-914eca08c8f3"},"type":"InitializeVariable","inputs":{"variables":[{"name":"jsonContent","type":"string"}]}},"Document_File_Name":{"runAfter":{"Json_Content":["Succeeded"]},"metadata":{"operationMetadataId":"0fc97596-6b18-4b49-9f55-20db498a8ab2"},"type":"InitializeVariable","inputs":{"variables":[{"name":"documentName","type":"string"}]}},"Entity_Logical_Name":{"runAfter":{"Document_File_Name":["Succeeded"]},"metadata":{"operationMetadataId":"a78b3e09-8e57-44d7-85a5-4b087de7b152"},"type":"InitializeVariable","inputs":{"variables":[{"name":"entityLogicalName","type":"string"}]}},"Entity_Record_Guid":{"runAfter":{"Entity_Logical_Name":["Succeeded"]},"metadata":{"operationMetadataId":"257f3fd4-895a-4ce1-9b93-5e8d09b89009"},"type":"InitializeVariable","inputs":{"variables":[{"name":"entityRecordGuid","type":"string"}]}},"Is_Annotation":{"runAfter":{"Entity_Record_Guid":["Succeeded"]},"metadata":{"operationMetadataId":"87107849-efd3-4c15-b1b0-8a817131f033"},"type":"InitializeVariable","inputs":{"variables":[{"name":"isAnnotation","type":"string"}]}},"RegardingObjectID":{"runAfter":{"Is_Annotation":["Succeeded"]},"metadata":{"operationMetadataId":"b4ffc67b-4999-4e73-b7b4-7453e804a373"},"type":"InitializeVariable","inputs":{"variables":[{"name":"regardingObjectID","type":"string"}]}},"Document_Content":{"runAfter":{"RegardingObjectID":["Succeeded"]},"metadata":{"operationMetadataId":"cc18fa4e-4162-478b-a937-a4cf41031576"},"type":"InitializeVariable","inputs":{"variables":[{"name":"documentContent","type":"string"}]}},"Field_Name":{"runAfter":{"Document_Content":["Succeeded"]},"metadata":{"operationMetadataId":"7289a85a-c4b2-42d6-9bff-72ffc2afca16"},"type":"InitializeVariable","inputs":{"variables":[{"name":"fieldName","type":"string"}]}}}}},"schemaVersion":"1.0.0.0"}