ElexArchival_1_0_0_5_managed/Workflows/DeleteEntityRecords-10DC83ED-072C-EC11-B6E6-000D3AC9F96F.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"elex_sharedcommondataserviceforapps_0dd5f"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"List_of_Archival_Rows":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"elex_archivedrows","$filter":"elex_recordstatus eq 853500004 or elex_customelexarchival eq '@{utcNow('yyyy-MM-dd')}'"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Regarding_ObjectId":{"runAfter":{"List_of_Archival_Rows":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"regardingObjectId","type":"string"}]}},"Apply_to_each_of_Listed_archival_rows":{"foreach":"@outputs('List_of_Archival_Rows')?['body/value']","actions":{"Set_Regarding_ObjectId":{"runAfter":{},"type":"SetVariable","inputs":{"name":"regardingObjectId","value":"@items('Apply_to_each_of_Listed_archival_rows')?['_regardingobjectid_value']"}},"Set_Subject":{"runAfter":{"Set_Regarding_ObjectId":["Succeeded"]},"type":"SetVariable","inputs":{"name":"subject","value":"@items('Apply_to_each_of_Listed_archival_rows')?['subject']"}},"Set_EntityName":{"runAfter":{"Set_Subject":["Succeeded"]},"type":"SetVariable","inputs":{"name":"entityName","value":"@{split(variables('subject'),variables('regardingObjectId'))[0]}"}},"Delete_Records_under_entities_of_Archival_rows":{"runAfter":{"Set_EntityName":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"DeleteRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"@variables('entityName')","recordId":"@variables('regardingObjectId')"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Subject":["Succeeded"]},"type":"Foreach"},"EntityName":{"runAfter":{"Regarding_ObjectId":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"entityName","type":"string"}]}},"Subject":{"runAfter":{"EntityName":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"subject","type":"string"}]}}}}},"schemaVersion":"1.0.0.0"}