ElexArchival_1_0_0_5_managed/Workflows/GetConfigurationJson-25C79D58-9526-EC11-B6E6-000D3AC9B6C7.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"elex_sharedcommondataserviceforapps_64b83"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Week","interval":1,"timeZone":"India Standard Time","schedule":{"weekDays":["Saturday"]}},"metadata":{"operationMetadataId":"354cf5c1-32ac-462e-a295-22932e847af4"},"type":"Recurrence"}},"actions":{"ConfigurationJson":{"runAfter":{},"metadata":{"operationMetadataId":"e1b52138-4c08-483d-87a0-facf635fd633"},"type":"InitializeVariable","inputs":{"variables":[{"name":"configKeyJson","type":"string"}]}},"Configuration_Json_EntityName":{"runAfter":{"ConfigurationJson":["Succeeded"]},"metadata":{"operationMetadataId":"7de73c74-d5f9-4542-8a34-685ec96d35c1"},"type":"InitializeVariable","inputs":{"variables":[{"name":"cofigKeyEntityName","type":"string"}]}},"Get_Json_from_configurations":{"runAfter":{"Initialize_variable":["Succeeded"]},"metadata":{"operationMetadataId":"f2cdfdf0-cef2-4610-bb48-09200ad775b0"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"elex_briefconfigurations","$select":"elex_fieldsconfigurationjson,elex_name","$filter":"statuscode eq 1 "},"authentication":"@parameters('$authentication')"}},"Json_to_get_all_the_fields":{"foreach":"@outputs('Get_Json_from_configurations')?['body/value']","actions":{"Set_ConfigurationJson":{"runAfter":{},"metadata":{"operationMetadataId":"4fbdde34-5798-45ee-babe-cc8434b2e1a3"},"type":"SetVariable","inputs":{"name":"configKeyJson","value":"@items('Json_to_get_all_the_fields')?['elex_fieldsconfigurationjson']"}},"Parse_Configuration_JSON_for_all_the_retrieved_Entities_":{"runAfter":{"Set_ConfigurationJson":["Succeeded"]},"metadata":{"operationMetadataId":"db803ffb-83cf-4b11-bf58-4e51e177a315"},"type":"ParseJson","inputs":{"content":"@items('Json_to_get_all_the_fields')?['elex_fieldsconfigurationjson']","schema":{"type":"array","items":{"type":"object","properties":{"EntityName":{"type":"string"},"LogicalName":{"type":"string"},"SchemaName":{"type":"string"},"DateOfPurge":{"type":"integer"},"DateOfArchival":{"type":"integer"},"FetchNumber":{"type":"integer"}},"required":["EntityName","LogicalName","SchemaName","DateOfPurge","DateOfArchival","FetchNumber"]}}}},"Passing_all_the_recording_of_Configuration_to_create_archived_rows":{"foreach":"@body('Parse_Configuration_JSON_for_all_the_retrieved_Entities_')","actions":{"Run_a_Child_Flow":{"runAfter":{},"metadata":{"operationMetadataId":"9b81c598-1f97-476d-af96-543faa5bba73"},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"060852d8-9726-ec11-b6e6-000d3ac9b6c7"},"body":{"number":"@items('Passing_all_the_recording_of_Configuration_to_create_archived_rows')['FetchNumber']","number_1":"@items('Passing_all_the_recording_of_Configuration_to_create_archived_rows')['DateOfArchival']","number_2":"@items('Passing_all_the_recording_of_Configuration_to_create_archived_rows')['DateOfPurge']","text":"@items('Passing_all_the_recording_of_Configuration_to_create_archived_rows')['EntityName']"}}}},"runAfter":{"Parse_Configuration_JSON_for_all_the_retrieved_Entities_":["Succeeded"]},"metadata":{"operationMetadataId":"85f7bd66-fb18-4b48-bf02-1ba9259e6381"},"type":"Foreach","runtimeConfiguration":{"concurrency":{"repetitions":20}}}},"runAfter":{"Get_Json_from_configurations":["Succeeded"]},"metadata":{"operationMetadataId":"38b9df81-913b-432a-8b1f-bf5d687bf1de"},"type":"Foreach","runtimeConfiguration":{"concurrency":{"repetitions":20}}},"Configuration_Json_FetchNumber":{"runAfter":{"Configuration_Json_EntityName":["Succeeded"]},"metadata":{"operationMetadataId":"8ef64d31-ca21-4a66-afed-6528538db105"},"type":"InitializeVariable","inputs":{"variables":[{"name":"configFetchNumber","type":"integer"}]}},"Entity_variable_to_get_records_":{"runAfter":{"Configuration_Json_FetchNumber":["Succeeded"]},"metadata":{"operationMetadataId":"14b0ddcc-051b-48d7-a6ae-e1f91c1e5953"},"type":"InitializeVariable","inputs":{"variables":[{"name":"entity","type":"string"}]}},"Initialize_variable":{"runAfter":{"Entity_variable_to_get_records_":["Succeeded"]},"metadata":{"operationMetadataId":"360380ab-2953-4351-82d1-37b30181507e"},"type":"InitializeVariable","inputs":{"variables":[{"name":"status","type":"string"}]}}}}},"schemaVersion":"1.0.0.0"}