ElexArchival_1_0_0_5_managed/Workflows/Updatingthestatusofarchivedrowscreation-50244DE5-1143-EC11-8C62-0022486EC1AB.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"elex_sharedcommondataserviceforapps_64b83"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"6964382a-6b83-4eac-9e91-870e6e281353"},"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{"text":{"title":"deleteStatus","type":"string","x-ms-dynamically-added":true,"description":"\"\"","x-ms-content-hint":"TEXT"},"text_1":{"title":"configurableQueriesID","type":"string","x-ms-dynamically-added":true,"description":"\"\"","x-ms-content-hint":"TEXT"}},"required":["text","text_1"]}}}},"actions":{"Condition":{"actions":{"Update_a_row":{"runAfter":{},"metadata":{"operationMetadataId":"7dbd751f-b52e-4bad-bb07-4bbb9e7c530d"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"elex_fetchs","recordId":"@variables('resultantConfigurableQueryID')","item/elex_status":"@variables('status')"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Condition_2":["Succeeded"]},"else":{"actions":{"Update_a_row_2":{"runAfter":{},"metadata":{"operationMetadataId":"2817cbf3-b5c3-4dac-bcd3-47b20e864ffa"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"elex_fetchs","recordId":"@variables('resultantConfigurableQueryID')","item/elex_status":"@variables('status')"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}}},"expression":{"not":{"equals":["@variables('status')","@null"]}},"metadata":{"operationMetadataId":"8c13af05-f412-4425-ae6b-88c6b6f67f4a"},"type":"If"},"Respond_to_a_PowerApp_or_flow":{"runAfter":{"Condition":["Succeeded"]},"metadata":{"operationMetadataId":"d76b734d-0fec-42a4-92ba-fa2220179b98"},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{},"schema":{"type":"object","properties":{}}}},"Condition_2":{"actions":{"Set_variable":{"runAfter":{},"metadata":{"operationMetadataId":"25710b86-ba0c-4960-a56c-db951a23a206"},"type":"SetVariable","inputs":{"name":"resultantConfigurableQueryID","value":"@{replace(split(variables('configurableQueriesID'),'(')[1],')','')}"}}},"runAfter":{"Set_variable_2":["Succeeded"]},"expression":{"not":{"equals":["@variables('configurableQueriesID')","@null"]}},"metadata":{"operationMetadataId":"963f5859-7680-4cf6-bbd4-0282536be649"},"type":"If"},"Initialize_variable":{"runAfter":{"Initialize_variable_3":["Succeeded"]},"metadata":{"operationMetadataId":"08b074b0-dd3b-4c0a-9288-f1688f9b42bb"},"type":"InitializeVariable","inputs":{"variables":[{"name":"configurableQueriesID","type":"string","value":"@triggerBody()['text_1']"}]}},"Initialize_variable_2":{"runAfter":{"Initialize_variable":["Succeeded"]},"metadata":{"operationMetadataId":"d94cce00-e8d8-40b1-bfe0-01213cf1ef0e"},"type":"InitializeVariable","inputs":{"variables":[{"name":"resultantConfigurableQueryID","type":"string"}]}},"Initialize_variable_3":{"runAfter":{},"metadata":{"operationMetadataId":"b20ff7f0-6f28-4115-ab07-da2919505aef"},"type":"InitializeVariable","inputs":{"variables":[{"name":"status","type":"string"}]}},"Set_variable_2":{"runAfter":{"Initialize_variable_2":["Succeeded"]},"metadata":{"operationMetadataId":"23f5c5b2-3c82-4bce-9e20-9d9fc461b1c9"},"type":"SetVariable","inputs":{"name":"status","value":"@triggerBody()['text']"}}}}},"schemaVersion":"1.0.0.0"}