ElexArchival_1_0_0_5 (4)/Workflows/GetFetchXmlAndAddArchivalRows-060852D8-9726-EC11-B6E6-000D3AC9B6C7.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"elex_sharedcommondataserviceforapps_64b83"},"api":{"name":"shared_commondataserviceforapps"}},"shared_commondataserviceforapps_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"elex_sharedcommondataserviceforapps_64b83"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"f9e2eee4-4df8-4a73-933e-e5c5b7ec78f0"},"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{"number":{"title":"fetchNumber","type":"number","x-ms-dynamically-added":true,"description":"1","x-ms-content-hint":"NUMBER"},"number_1":{"title":"archivalDays","type":"number","x-ms-dynamically-added":true,"description":"1","x-ms-content-hint":"NUMBER"},"number_2":{"title":"purgeDays","type":"number","x-ms-dynamically-added":true,"description":"1","x-ms-content-hint":"NUMBER"},"text":{"title":"entityName","type":"string","x-ms-dynamically-added":true,"description":"'entiyName'","x-ms-content-hint":"TEXT"}},"required":["number","number_1","number_2","text"]}}}},"actions":{"List_of_FetchXmls_using_Key":{"runAfter":{},"metadata":{"operationMetadataId":"d3309cd9-4e49-4f41-a171-34cf8bf82bb7"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"elex_fetchs","$select":"elex_query,elex_fetchid,elex_name","$filter":"elex_key eq @{triggerBody()['number']}"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Respond_to_a_PowerApp_or_flow":{"runAfter":{"Records_of_fetchxml_using_configkeys":["Succeeded"]},"metadata":{"operationMetadataId":"0c02f104-14a4-4d33-b14c-7293d7baad6d"},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"a":"1"},"schema":{"type":"object","properties":{"a":{"title":"a","x-ms-dynamically-added":true,"type":"string"}}}}},"Records_of_fetchxml_using_configkeys":{"foreach":"@outputs('List_of_FetchXmls_using_Key')?['body/value']","actions":{"List_of_all_Entities_added_under_configurations":{"runAfter":{},"metadata":{"operationMetadataId":"58e7edb2-fcfe-4038-b22f-92b2416e8933"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"@triggerBody()['text']","fetchXml":"@items('Records_of_fetchxml_using_configkeys')?['elex_query']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Parse_JSON_of_all_Entities_resulted_from_configuration_json":{"runAfter":{"List_of_all_Entities_added_under_configurations":["Succeeded"]},"metadata":{"operationMetadataId":"3e2e58d5-cd71-43c2-9c5a-a15b4cf0e715"},"type":"ParseJson","inputs":{"content":"@outputs('List_of_all_Entities_added_under_configurations')?['body/value']","schema":{"type":"array","items":{"type":"object","properties":{},"required":[]}}}},"Get_each_records_Guid_from_json":{"foreach":"@body('Parse_JSON_of_all_Entities_resulted_from_configuration_json')","actions":{"Set_EntityRecord_Guid":{"runAfter":{},"metadata":{"operationMetadataId":"1ce40be5-3255-4783-9b06-f9279bae0b0c"},"type":"SetVariable","inputs":{"name":"entityRecordGuid","value":"@{replace(split(item()?['@odata.editLink'],'(')[1],')','')}"}},"Set_Regarding_Object":{"runAfter":{"Set_SubjectEntityGuid":["Succeeded"]},"metadata":{"operationMetadataId":"4f156f06-2e59-42c9-8221-5bb88d9906bf"},"type":"SetVariable","inputs":{"name":"regardingObjectID","value":"@{triggerBody()['text']}(@{variables('entityRecordGuid')})"}},"Set_IfExpression":{"runAfter":{"Set_Regarding_Object":["Succeeded"]},"metadata":{"operationMetadataId":"4b89457e-2fc7-49c1-b6a8-f4d262fe5400"},"type":"SetVariable","inputs":{"name":"ifExpression","value":"@{if(equals(triggerBody()['text'],triggerBody()['text']),variables('regardingObjectID'),\r\nif(equals(triggerBody()['text'],'contacts'),variables('regardingObjectID'),''))}"}},"Set_ResultantEntity_From_If_Expression":{"runAfter":{"Set_IfExpression":["Succeeded"]},"metadata":{"operationMetadataId":"4ee4dd51-576a-40a8-911d-aaa1c7a3f2fa"},"type":"SetVariable","inputs":{"name":"resultantEntity","value":"@{split(variables('ifExpression'),'(')[0]}"}},"List_rows":{"runAfter":{"Set_ConfigurableQueriesID":["Succeeded"]},"metadata":{"operationMetadataId":"8f44733f-0acf-457e-9305-92cab557fb94"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"elex_archivedrows","$filter":"subject eq '@{variables('subjectEntityGuid')}'"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Condition_to_check_length_of_archived_rows":{"actions":{"Add_a_new_archival_row":{"runAfter":{},"metadata":{"operationMetadataId":"9fcf3e3c-8f3b-4465-8359-87f2b912f46c"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"elex_archivedrows","item/subject":"@variables('subjectEntityGuid')","item/lastonholdtime":"@addDays(utcNow('yyyy-MM-dd'),triggerBody()['number_1'])","item/scheduledend":"@addDays(utcNow('yyyy-MM-dd'),triggerBody()['number_2'])","item/elex_entityname":"@variables('archivedEntityName')","item/elex_recordstatus":853500000,"item/regardingobjectid_account_elex_archivedrow@odata.bind":"@if(equals(variables('resultantEntity'),'accounts'),variables('ifExpression'),'')","item/regardingobjectid_incident_elex_archivedrow@odata.bind":"@if(equals(variables('resultantEntity'),'incidents'),variables('ifExpression'),'')","item/regardingobjectid_elex_briefconfiguration_elex_archivedrow@odata.bind":"@if(equals(variables('resultantEntity'),'configurations'),variables('ifExpression'),'')","item/regardingobjectid_contact_elex_archivedrow@odata.bind":"@if(equals(variables('resultantEntity'),'contacts'),variables('ifExpression'),'')","item/regardingobjectid_contract_elex_archivedrow@odata.bind":"@if(equals(variables('resultantEntity'),'contracts'),variables('ifExpression'),'')","item/regardingobjectid_invoice_elex_archivedrow@odata.bind":"@if(equals(variables('resultantEntity'),'invoices'),variables('ifExpression'),'')","item/regardingobjectid_lead_elex_archivedrow@odata.bind":"@if(equals(variables('resultantEntity'),'leads'),variables('ifExpression'),'')","item/regardingobjectid_opportunity_elex_archivedrow@odata.bind":"@if(equals(variables('resultantEntity'),'opportunities'),variables('ifExpression'),'')","item/regardingobjectid_salesorder_elex_archivedrow@odata.bind":"@if(equals(variables('resultantEntity'),'orders'),variables('ifExpression'),'')","item/regardingobjectid_quote_elex_archivedrow@odata.bind":"@if(equals(variables('resultantEntity'),'quotes'),variables('ifExpression'),'')"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Set_status_to_deleted_in_configurable_queries":{"runAfter":{"Add_a_new_archival_row":["Succeeded"]},"metadata":{"operationMetadataId":"3bff15a7-c5c3-4649-bd44-dfb6e3d8cb06"},"type":"SetVariable","inputs":{"name":"status","value":"Success"}},"Run_a_Child_Flow_2":{"runAfter":{"Set_status_to_deleted_in_configurable_queries":["Succeeded"]},"metadata":{"operationMetadataId":"ebe8458e-a694-4f99-9861-732ddccf1107"},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"50244de5-1143-ec11-8c62-0022486ec1ab"},"body":{"text":"@variables('status')","text_1":"@variables('configurableQueriesID')"}}}},"runAfter":{"Parse_JSON":["Succeeded"]},"else":{"actions":{"Apply_to_each_record_in_archived_row_to_create_a_record":{"foreach":"@outputs('List_rows')?['body/value']","actions":{"Set_ArchivedRowSubject":{"runAfter":{},"metadata":{"operationMetadataId":"8d4243b5-003c-4873-a547-601fd29f3cc7"},"type":"SetVariable","inputs":{"name":"regardingObjectID","value":"@items('Apply_to_each_record_in_archived_row_to_create_a_record')?['_regardingobjectid_value']"}},"Condition_To_Check_Entity_Record_Guid_and_Regarding_Object_ID":{"actions":{},"runAfter":{"Set_ArchivedRowSubject":["Succeeded"]},"else":{"actions":{"Add_archived_row_":{"runAfter":{},"metadata":{"operationMetadataId":"001b8449-aca7-4b9f-bded-d8da79b16b7b"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"elex_archivedrows","item/subject":"@variables('subjectEntityGuid')","item/lastonholdtime":"@addDays(utcNow('yyyy-MM-dd'),triggerBody()['number_1'])","item/scheduledend":"@addDays(utcNow('yyyy-MM-dd'),triggerBody()['number_2'])","item/elex_entityname":"@variables('archivedEntityName')","item/elex_recordstatus":853500000,"item/regardingobjectid_account_elex_archivedrow@odata.bind":"@if(equals(variables('resultantEntity'),'accounts'),variables('ifExpression'),'')","item/regardingobjectid_incident_elex_archivedrow@odata.bind":"@if(equals(variables('resultantEntity'),'incidents'),variables('ifExpression'),'')","item/regardingobjectid_elex_briefconfiguration_elex_archivedrow@odata.bind":"@if(equals(variables('resultantEntity'),'configurations'),variables('ifExpression'),'')","item/regardingobjectid_contact_elex_archivedrow@odata.bind":"@if(equals(variables('resultantEntity'),'contacts'),variables('ifExpression'),'')","item/regardingobjectid_contract_elex_archivedrow@odata.bind":"@if(equals(variables('resultantEntity'),'contracts'),variables('ifExpression'),'')","item/regardingobjectid_invoice_elex_archivedrow@odata.bind":"@if(equals(variables('resultantEntity'),'invoices'),variables('ifExpression'),'')","item/regardingobjectid_lead_elex_archivedrow@odata.bind":"@if(equals(variables('resultantEntity'),'leads'),variables('ifExpression'),'')","item/regardingobjectid_opportunity_elex_archivedrow@odata.bind":"@if(equals(variables('resultantEntity'),'opportunities'),variables('ifExpression'),'')","item/regardingobjectid_salesorder_elex_archivedrow@odata.bind":"@if(equals(variables('resultantEntity'),'orders'),variables('ifExpression'),'')"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Set_Status_to_success_in_configurable_queries":{"runAfter":{"Add_archived_row_":["Succeeded"]},"metadata":{"operationMetadataId":"28860061-b60d-435c-9755-66e61aa67b27"},"type":"SetVariable","inputs":{"name":"status","value":"Success"}},"Run_a_Child_Flow_3":{"runAfter":{"Set_Status_to_success_in_configurable_queries":["Succeeded"]},"metadata":{"operationMetadataId":"b6aa3adf-84e3-4d4d-b6dd-d8ff6e6eec3d"},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"50244de5-1143-ec11-8c62-0022486ec1ab"},"body":{"text":"@variables('status')","text_1":"@variables('configurableQueriesID')"}}}}},"expression":{"equals":["@variables('entityRecordGuid')","@variables('regardingObjectID')"]},"metadata":{"operationMetadataId":"937f20bd-3fea-4ca6-b1c2-bdb06ce5ae6e"},"type":"If"}},"runAfter":{},"metadata":{"operationMetadataId":"b47f4d84-fe0e-451f-a116-95211c440da0"},"type":"Foreach","runtimeConfiguration":{"concurrency":{"repetitions":20}}}}},"expression":{"equals":["@length(outputs('List_rows')?['body/value'])",0]},"metadata":{"operationMetadataId":"f429b7e7-e12e-4399-8aab-bf3a9f75fa8e"},"type":"If"},"Set_SubjectEntityGuid":{"runAfter":{"Set_EntityRecord_Guid":["Succeeded"]},"metadata":{"operationMetadataId":"af7f64f5-e06e-48dc-ad5e-3bcc35468169"},"type":"SetVariable","inputs":{"name":"subjectEntityGuid","value":"@{triggerBody()['text']}@{variables('entityRecordGuid')}"}},"Parse_JSON":{"runAfter":{"List_rows":["Succeeded"]},"metadata":{"operationMetadataId":"b5e62c7d-c0a1-4489-98b5-f2b360f9b292"},"type":"ParseJson","inputs":{"content":"@outputs('List_rows')?['body/value']","schema":{"type":"array","items":{"type":"object","properties":{},"required":[]}}}},"Set_Archived_Entity_Name":{"runAfter":{"Set_ResultantEntity_From_If_Expression":["Succeeded"]},"metadata":{"operationMetadataId":"646d4ca3-ff9b-4ece-b2ad-3a806055f4a7"},"type":"SetVariable","inputs":{"name":"archivedEntityName","value":"@triggerBody()['text']"}},"Set_ConfigurableQueriesID":{"runAfter":{"Set_Archived_Entity_Name":["Succeeded"]},"metadata":{"operationMetadataId":"646d4ca3-ff9b-4ece-b2ad-3a806055f4a7"},"type":"SetVariable","inputs":{"name":"configurableQueriesID","value":"@items('Records_of_fetchxml_using_configkeys')?['@odata.id']"}}},"runAfter":{"Parse_JSON_of_all_Entities_resulted_from_configuration_json":["Succeeded"]},"metadata":{"operationMetadataId":"d201248c-7b01-46cf-becd-850d2a69946b"},"type":"Foreach","runtimeConfiguration":{"concurrency":{"repetitions":20}}},"Getting_list_of_rows_based_on_subject_to_delete_rows":{"runAfter":{"Get_each_records_Guid_from_json":["Succeeded"]},"metadata":{"operationMetadataId":"42fcf044-c833-411b-a0ab-c9aec1b0266e"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"elex_archivedrows","$filter":"subject ne ''"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Parsing_Json_for_the_list_rows_based_on_subject":{"runAfter":{"Getting_list_of_rows_based_on_subject_to_delete_rows":["Succeeded"]},"metadata":{"operationMetadataId":"fe3e5f18-e6ff-4fbf-838d-afc514bf6700"},"type":"ParseJson","inputs":{"content":"@outputs('Getting_list_of_rows_based_on_subject_to_delete_rows')?['body/value']","schema":{"type":"array","items":{"type":"object","properties":{},"required":[]}}}},"Getting_regarding_object_of_all_the_archived_rows":{"foreach":"@outputs('Getting_list_of_rows_based_on_subject_to_delete_rows')?['body/value']","actions":{"Condition_to_check_if_regarding_object_is_empty_or_not":{"actions":{"Deleting_rows_which_is_set_with_empty_regarding_object_":{"runAfter":{},"metadata":{"operationMetadataId":"5cfd7650-0e6d-47a4-b542-9a385e67c1f0"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"DeleteRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"elex_archivedrows","recordId":"@items('Getting_regarding_object_of_all_the_archived_rows')?['activityid']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Set_Status_to_Fail_in_Configurable_Queries":{"runAfter":{"Deleting_rows_which_is_set_with_empty_regarding_object_":["Succeeded"]},"metadata":{"operationMetadataId":"07712a90-b2ba-4dd9-a9a9-3f1a17317000"},"type":"SetVariable","inputs":{"name":"status","value":"Fail"}},"Run_a_Child_Flow":{"runAfter":{"Set_Status_to_Fail_in_Configurable_Queries":["Succeeded"]},"metadata":{"operationMetadataId":"119ceade-934e-43fb-8693-4ca4a7a12c95"},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"50244de5-1143-ec11-8c62-0022486ec1ab"},"body":{"text":"@variables('status')","text_1":"@variables('configurableQueriesID')"}}}},"runAfter":{},"expression":{"equals":["@items('Getting_regarding_object_of_all_the_archived_rows')?['_regardingobjectid_value']","@null"]},"metadata":{"operationMetadataId":"ab9287b0-0271-4cee-b1c5-c1547b5fbd83"},"type":"If"}},"runAfter":{"Parsing_Json_for_the_list_rows_based_on_subject":["Succeeded"]},"metadata":{"operationMetadataId":"36877990-29ae-4b3c-9f90-84cdfa48f68c"},"type":"Foreach","runtimeConfiguration":{"concurrency":{"repetitions":20}}}},"runAfter":{"Configurable_QueriesID":["Succeeded"]},"metadata":{"operationMetadataId":"85768374-7ae7-4b5d-b6d9-17f009f1efe6"},"type":"Foreach","runtimeConfiguration":{"concurrency":{"repetitions":20}}},"Entity_Records_Guid":{"runAfter":{"List_of_FetchXmls_using_Key":["Succeeded"]},"metadata":{"operationMetadataId":"4b1a87f1-6ca4-4d24-8d8d-6b6130184683"},"type":"InitializeVariable","inputs":{"variables":[{"name":"entityRecordGuid","type":"string"}]}},"Regarding_ObjectID":{"runAfter":{"Entity_Records_Guid":["Succeeded"]},"metadata":{"operationMetadataId":"f39abc59-ceb0-414b-931f-29c7749315c0"},"type":"InitializeVariable","inputs":{"variables":[{"name":"regardingObjectID","type":"string"}]}},"IfExpression":{"runAfter":{"archivedRows_Length":["Succeeded"]},"metadata":{"operationMetadataId":"b183cc6d-5abb-4b37-aeb5-29d6a49cc21b"},"type":"InitializeVariable","inputs":{"variables":[{"name":"ifExpression","type":"string"}]}},"Resultant_EntityName":{"runAfter":{"IfExpression":["Succeeded"]},"metadata":{"operationMetadataId":"6730fdd0-e66a-4f58-ad31-6451f6169bcd"},"type":"InitializeVariable","inputs":{"variables":[{"name":"resultantEntity","type":"string"}]}},"Subject_With_Entity_and_Guid":{"runAfter":{"Resultant_EntityName":["Succeeded"]},"metadata":{"operationMetadataId":"5dac6763-78ae-4967-88da-fb1a4f706288"},"type":"InitializeVariable","inputs":{"variables":[{"name":"subjectEntityGuid","type":"string"}]}},"ArchivedRowSubject":{"runAfter":{"Subject_With_Entity_and_Guid":["Succeeded"]},"metadata":{"operationMetadataId":"40652337-ba6a-4fde-a0f8-31effd506202"},"type":"InitializeVariable","inputs":{"variables":[{"name":"archivedRowSubject","type":"string"}]}},"archivedRows_Length":{"runAfter":{"Regarding_ObjectID":["Succeeded"]},"metadata":{"operationMetadataId":"e59bb6a3-a295-4779-8b76-356ba0a46e9d"},"type":"InitializeVariable","inputs":{"variables":[{"name":"archivedRowLength","type":"integer"}]}},"Archived_EntityName":{"runAfter":{"ArchivedRowSubject":["Succeeded"]},"metadata":{"operationMetadataId":"732417d2-bc57-4ccf-b16c-b00fda89a5b8"},"type":"InitializeVariable","inputs":{"variables":[{"name":"archivedEntityName","type":"string"}]}},"Status_(Success_Or_Fail)":{"runAfter":{"Archived_EntityName":["Succeeded"]},"metadata":{"operationMetadataId":"bb5b5ab5-8af1-47ea-902f-c7052ebeb0a3"},"type":"InitializeVariable","inputs":{"variables":[{"name":"status","type":"string"}]}},"Configurable_QueriesID":{"runAfter":{"Status_(Success_Or_Fail)":["Succeeded"]},"metadata":{"operationMetadataId":"441f1735-d9a0-474e-8d3c-cdedd9a8fa7d"},"type":"InitializeVariable","inputs":{"variables":[{"name":"configurableQueriesID","type":"string"}]}}}}},"schemaVersion":"1.0.0.0"}