ElexArchival_1_0_0_5 (4)/Workflows/SettingRecordStatusArchivalAndPurged-19D777EF-1033-EC11-B6E6-000D3AC9F42E.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"elex_sharedcommondataserviceforapps_0dd5f"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Day","interval":1},"metadata":{"operationMetadataId":"5e13d13c-5133-4833-a68e-d87182f2854f"},"type":"Recurrence"}},"actions":{"Listing_Archival_rows":{"runAfter":{"Archival_Days":["Succeeded"]},"metadata":{"operationMetadataId":"b30eebbd-20cd-4acc-9561-85d83e0f18ea"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"elex_archivedrows","$filter":"elex_recordstatus eq 853500000"},"authentication":"@parameters('$authentication')"}},"Current_Date":{"runAfter":{},"metadata":{"operationMetadataId":"e459fb7e-88b2-46a7-ae66-662d2cdf0ac9"},"type":"InitializeVariable","inputs":{"variables":[{"name":"currentDate","type":"string","value":"@{utcNow('yyyy-MM-dd')}"}]}},"Parsing_Archival_Rows_Json":{"runAfter":{"Listing_Archival_rows":["Succeeded"]},"metadata":{"operationMetadataId":"62cbf563-2a84-402b-ad28-86c80ccc70a9"},"type":"ParseJson","inputs":{"content":"@outputs('Listing_Archival_rows')?['body/value']","schema":{"type":"array","items":{"type":"object","properties":{},"required":[]}}}},"Looping_through_the_values_of_Json_retrieved_from_Archival_Rows":{"foreach":"@outputs('Listing_Archival_rows')?['body/value']","actions":{"Set_Archival_Days":{"runAfter":{},"metadata":{"operationMetadataId":"1c280260-297d-4933-a1f8-e8c6c5c6ba63"},"type":"SetVariable","inputs":{"name":"archivalDays","value":"@items('Looping_through_the_values_of_Json_retrieved_from_Archival_Rows')?['lastonholdtime']"}},"Condition_to_check_current_date_with_archival_date":{"actions":{"Update_a_record_status_to_Archvied":{"runAfter":{},"metadata":{"operationMetadataId":"22ad4562-8c85-46a0-8d19-aa566a8d8451"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"elex_archivedrows","recordId":"@items('Looping_through_the_values_of_Json_retrieved_from_Archival_Rows')?['activityid']","item/elex_recordstatus":853500002},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Set_PurgeDays":["Succeeded"]},"else":{"actions":{"Condition_to_check_current_date_with_purge_date":{"actions":{"Update_record_status_to_purged":{"runAfter":{},"metadata":{"operationMetadataId":"3ea316bc-69cc-4a29-b35b-e97602a05b86"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"elex_archivedrows","recordId":"@items('Looping_through_the_values_of_Json_retrieved_from_Archival_Rows')?['activityid']","item/elex_recordstatus":853500003},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"expression":{"lessOrEquals":["@formatDateTime(variables('purgeDays'),'yyyy-MM-dd')","@variables('currentDate')"]},"metadata":{"operationMetadataId":"652d81cf-4313-4d86-8ccf-614935178d36"},"type":"If"}}},"expression":{"lessOrEquals":["@formatDateTime(variables('archivalDays'),'yyyy-MM-dd')","@variables('currentDate')"]},"metadata":{"operationMetadataId":"2f12a992-79ea-4442-baaa-031afc43b182"},"type":"If"},"Set_PurgeDays":{"runAfter":{"Set_Archival_Days":["Succeeded"]},"metadata":{"operationMetadataId":"9da5bea6-851a-40ad-8218-56506135690e"},"type":"SetVariable","inputs":{"name":"purgeDays","value":"@items('Looping_through_the_values_of_Json_retrieved_from_Archival_Rows')?['scheduledend']"}}},"runAfter":{"Parsing_Archival_Rows_Json":["Succeeded"]},"metadata":{"operationMetadataId":"4b02b84d-4932-4587-a1f9-87a9b7f726dd"},"type":"Foreach"},"Purge_Days":{"runAfter":{"Current_Date":["Succeeded"]},"metadata":{"operationMetadataId":"b06ae67b-6557-49a1-8cea-230bd27c5cc4"},"type":"InitializeVariable","inputs":{"variables":[{"name":"purgeDays","type":"string"}]}},"Archival_Days":{"runAfter":{"Purge_Days":["Succeeded"]},"metadata":{"operationMetadataId":"fddda7eb-0c60-45bf-9875-2e1ee89cabd8"},"type":"InitializeVariable","inputs":{"variables":[{"name":"archivalDays","type":"string"}]}}}}},"schemaVersion":"1.0.0.0"}